In [1]:
from ExperimentRunner.ExperimentRunner import *

In [2]:
import numpy as np
import pandas as pd
from ipyparallel import require

In [3]:
@require('numpy as np', 'pandas as pd')
def example_function(seed=0, x=1, y=1):
    random = np.random.RandomState(seed)
    matrix = random.rand(x, y)
    u, s, v = np.linalg.svd(matrix)
    return pd.DataFrame([{"seed": seed, "value": np.diag(s)[0,0]}])
    
@require(example_function)
def wrapper(kwargs):
    return example_function(**kwargs)

In [7]:
parameters = [
    Parameter(name="x", default=2, space=range(1,100)),
    Parameter(name="y", default=2, space=range(1,100))
]
experiment = Experiment(runs=3, seed=1, function=wrapper, parameters=parameters)
experiment.generate_tasks()

In [8]:
#experiment.run_sequential()
experiment.run_map()

 591/591 tasks finished after    3 s
done

          seed     value
0   1791095845  1.156121
0   4282876139  0.670966
0   3093770124  0.906131
0   4005303368  1.025405
0       491263  0.814997
0    550290313  0.948462
0   1298508491  1.366078
0   4290846341  0.997383
0    630311759  1.320130
0   1013994432  1.693309
0    396591248  1.830601
0   1703301249  1.900752
0    799981516  1.336460
0   1666063943  1.093703
0   1484172013  1.388260
0   2876537340  1.556608
0   1704103302  1.733683
0   4018109721  1.951084
0   2314200242  1.881202
0   3634877716  2.412768
0   1800426750  2.049422
0   1345499493  1.982426
0   2942995346  2.313147
0   2252917204  1.955122
0    878115723  2.485031
0   1904615676  2.270589
0   3771485674  2.185056
0    986026652  2.830051
0    117628829  1.932708
0   2295290254  2.528697
..         ...       ...
0   4015245515  6.959851
0   3881971619  7.330763
0   3359059647  7.365155
0   2846359931  6.757740
0   2223049248  7.481934
0   1160535662  7.228264
0     70707035  7.288579
0   1083906737  6.794239
0   1283337190  7.335546
0   3671758714  7.251513
0   2322372736  7.411855
0   2266517142  7.176609
0   3693171809  7.324006
0   3445255622  7.244893
0    795059876  7.326079
0   2458819474  7.536326
0    358828827  7.245027
0   3148823196  6.982255
0    190148069  7.394168
0   2229137972  7.476561
0   1906140774  7.776379
0   3310921202  7.620596
0     82973406  7.522202
0   2443226489  7.559880
0    287900466  7.936561
0   2000208686  7.603938
0   3486532103  7.697325
0   1471837653  7.171627
0   2732847376  7.937598
0    292956903  8.097086

[591 rows x 2 columns]

In [6]:
experiment.results

         seed     value
0  1791095845  1.156121
0  4282876139  0.670966
0  3093770124  0.906131
0  4005303368  1.382199
0      491263  1.219343
0   550290313  1.229741