In [4]:
from ExperimentRunner.ExperimentRunner import *

In [5]:
import numpy as np
import pandas as pd
from ipyparallel import require

In [19]:
@require('numpy as np', 'pandas as pd')
def example_function(seed=0, x=1, y=1):
    random = np.random.RandomState(seed)
    matrix = random.rand(x, y)
    u, s, v = np.linalg.svd(matrix)
    return pd.DataFrame([{"seed": seed, "value": np.diag(s)[0,0]}])
    
@require(example_function)
def wrapper(kwargs):
    return example_function(**kwargs)

In [20]:
parameters = [
    Parameter(name="x", default=2, space=[2]),
    Parameter(name="y", default=2, space=[2,3])
]
experiment = Experiment(runs=3, seed=1, function=wrapper, parameters=parameters)
experiment.generate_tasks()

In [23]:
#experiment.run_sequential()
experiment.run_map()

   4/4 tasks finished after    0 s
done

         seed     value
0  1791095845  1.156121
0  4282876139  0.670966
0  3093770124  0.906131
0  4005303368  1.382199
0      491263  1.219343
0   550290313  1.229741

In [22]:
experiment.results

         seed     value
0  1791095845  1.156121
1  4282876139  0.670966
2  3093770124  0.906131
3  4005303368  1.382199
4      491263  1.219343
5   550290313  1.229741